.contato-container {
    padding-top: 90px;
}

.lista-estacionamentos {
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.lista-estacionamentos li {
    list-style: none;
    max-width: 300px;
    padding: 10px 20px;
}

.lista-estacionamentos li img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
