.rodape {
    background-color:#0077B6;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    border: 10px;
    border-top: #fff;
    display:flexbox;
}

a{
    padding-left:10px;
}