*{
    margin-top: 10px;
}

.rodape {
    background-color:#0077B6;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    border: 10px;
    border-top: #fff;
    margin-top:0px;

}

a{
    padding-left:1px;
    
}

#footer{
    margin-top: 0px;
}

.limitador{
    margin: 0px;
}