.topo{
    background-color:#0077B6;
    border-bottom: 1px solid #fff;
    /* position: fixed; */
    width: 100%;
    position: relative;
}

.topo-conteudo{
    max-width: 1024px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0 auto;
}

.topo-logo-box{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.topo-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.topo-nome-empresa{
    color: #fff;
    font-size: 45px;
    text-decoration: none;
    margin-top: 10px;
    font-family: Otomanopee;
}

.topo-nome-empresa span{
    color: #89e4ff;
    font-weight: 800;
    font-family: Otomanopee;
}

.topo-link {
    color: #fff;
    text-decoration: none;
    padding: 0px 15px 10px 15px;

    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.topo-link:hover {
    border-bottom: 3px solid #fff;
    color: white;
    
}

.btn-mobile {
    display:none;
}

@media (max-width: 820px){
    .btn-mobile{
        display:block;
    }

    .menu{
        display:none;
    }
}

@media (max-width: 720px) {
    .topo-nome-empresa {
        font-size:18px;
    }

    .lista-sobre-aparelho {
        flex-direction: column;
    }
}