
*{
    margin: 0;
    
}

.Login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 89.5vh;
    width:100%;
    background-color: black;
    background-image: url('./parking.jpg');
  
}

.Login-right{
    background-color: #f1f1f1;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 3px 6px 3px grey;
    border-radius: 20px;
    align-items: stretch;
    margin-left: 50px;
    padding: 20px;
    width: 350px;
    height: auto;
    position: absolute;

}
.Login-right h1{
    font-size: 40px ;
    margin-bottom: 15px;
    
}

.Login-right h4{
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;

}

.Login-loginInputEmail{
    display: flex;
    align-items: center;
    color: gray;
    background-color:white;
    border-radius:3px ;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 10px;
   
}

.Login-loginInputEmail svg{
    margin-left: 10px;
    font-size: 25px;
}

.Login-loginInputEmail input{
    background-color: transparent;
    width: 100%;
    outline-width: 0;
    color:#e1e1e6;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Login-loginInputPassword{
    display: flex;
    align-items: center;
    color: gray;
    background-color:white;
    border-radius:3px ;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 10px;
}

.Login-loginInputPassword svg{
    margin-left: 10px;
    font-size: 25px;
}

.Login-loginInputPassword input{
    background-color: transparent;
    width: 100%;
    outline-width: 0;
    color:#e1e1e6;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Login-right button{
    width: 90%;
    color: #eff2f5;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}

.Login-right #entrar{
    background-color: green;
    margin-top: 20px;
}

.Login-right #Facebook{
    background-color: blue;
 
}

.Login-right #Google{
    background-color: red;
}

.Login-right #cadastrar-se{
    background-color: grey;
}

.Login-right button:hover{
    background-color: #121214;
    color: #eff2f5;
    cursor: pointer;
}

/* .login-eye{
    
} */

