
*{
    margin: 0;
    
}

.Login{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 89.5vh;
    width:100%;
    background-color: black;
    background-image: url('./parking.jpg');

    min-width: 300px;
  
}

.Login-right{
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 3px 6px 3px #ccc;
    border-radius: 10px;
    align-items: center;
    padding: 30px;
    width: 80%;
    height: auto;
    position: absolute;

    max-width:350px;
    min-width: 300px;
    min-height:300px;

}
.Login-right h1{
    font-size: 40px ;
    margin-bottom: 15px;
    
}

.Login-right h4{
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;

}

.Login-loginInputEmail{
    display: flex;
    align-items: center;
    color: gray;
    background-color:white;
    
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 10px;
   
    border:1px solid #ccc;
    border-radius:5px;
}



.Login-loginInputEmail input{
    background-color: transparent;
    width: 100%;
    outline-width: 0;
    color:black;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Login-loginInputPassword{
    display: flex;
    align-items: center;
    color: gray;
    background-color:white;
    border-radius:3px ;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 10px;
    border:1px solid #ccc;
    border-radius:5px;
}



.Login-loginInputPassword input{
    background-color: transparent;
    width: 100%;
    outline-width: 0;
    color:black;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Login-right button{
    width: 90%;
    color: #eff2f5;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}

.Login-right #entrar{
    background-color:#023E8A;
    margin-top: 20px;
}

.Login-separador{
    margin-top: 10px;

}
.Login-right #Facebook{
    background-color: #3f51b5;
 
}

.Login-right #Google{
    background-color:#e61d1dd6;
}



.fa-facebook{
    margin-right: 10px;
}
.fa-google{
    margin-right: 10px;
    margin-left: -13px;

}

.footerLogin{
    margin-top:10px;
    font-size:15px;
}

